@{
    ViewBag.Title = "Home Page";
}



<div class="container">
   
    <div>
        <div class="row">
            <button class="btn" id="btn1" type="button" onclick="click('btn1')"><img src="~/Content/def.png"/></button>
            <button class="btn" id="btn2" type="button" onclick="click('btn2')"><img src="~/Content/def.png" /></button>
            <button class="btn" id="btn3" type="button" onclick="click('btn3')"><img src="~/Content/def.png" /></button>
        </div>
        <div class="row">
            <button class="btn" id="btn4" type="button" onclick="click('btn4')"><img src="~/Content/def.png" /></button>
            <button class="btn" id="btn5" type="button" onclick="click('btn5')"><img src="~/Content/def.png" /></button>
            <button class="btn" id="btn6" type="button" onclick="click('btn6')"><img src="~/Content/def.png" /></button>
        </div>
        <div class="row">
            <button class="btn" id="btn7" type="button" onclick="click('btn7')"><img src="~/Content/def.png" /></button>
            <button class="btn" id="btn8" type="button" onclick="click('btn8')"><img src="~/Content/def.png" /></button>
            <button class="btn" id="btn9" type="button" onclick="click('btn9')"><img src="~/Content/def.png" /></button>
        </div>
    </div>
</div>


 